<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/cadastroDeJogo.css">
    <title>Exchange Games | Cadastro de jogo</title>
</head>
<body class="bodycj">
    <header>
        <%- include('header.ejs') %>
    </header>
    <main class="maincj">
    <form class="formcj" action="/jogos/cadastroJogo" method="POST" enctype="multipart/form-data">
        <h2>Anuncie o seu jogo </h2> 
        <div class="errocj"><%= erro %></div>
        <div class="inputscj">
            <label class="labelscj" for="Nome do jogo">Nome do jogo</label>
                <input name="nomeJogo" type="text" placeholder="Exemplo: Super Mario 3D World" maxlength="150" required/>
            <label class="labelscj" for="Tempo de uso">Tempo de uso</label>
                <input name="tempoJogo" type="text" placeholder="Exemplo: 2 anos" maxlength="25" required/>
            <label class="labelscj" for="Ano do jogo"> Ano do jogo</label>
                <input name="anoJogo" type="text" placeholder="Exemplo: 2018" maxlength="4" required/>
        </div>
        <div class="selectcj">
            <div class= "subselect1">
                <p class="pcj"><label for="Console">Console</label></p> 
                <select name="console" required>
                    <% for(let i = 0; i < plataforma.length; i++){ %> 
                        <option name="plataforma" value="<%=plataforma[i].id %>"><%=plataforma[i].console %></option>              
                    <% } %>    
                </select>
            </div>
            <div class= "subselect2">
                <p class="pcj"><label for="Condição">Condição do jogo</label></p>
                <select name="condicao" required>
                    <option value="Novo">Novo</option>
                    <option value="Usado">Usado</option>
                    <option value="Novo">Lacrado</option>
                </select>
            </div>
        </div>
        <div class="checkboxcj"><label for="Gênero">Gênero:</label>
            <% for(let i = 0; i < genero.length; i++){ %> 
                <p><input type="checkbox" name="genero" value="<%=genero[i].id %>"><%=genero[i].nome %></input></p>                
            <% } %>      
        </div>
            <label class="labelscj" class="descricaocj" for="Descrição do produto">Descrição do produto</label>
                <textarea class="textcj" name="descricao" type="text" placeholder="Descreva o seu jogo" maxlength="1500" required></textarea>
        <h3>Envie as fotos do seu jogo</h3>
    <div class="imgscj">
        <div class="forcj">
        <% for(let i = 0; i < 5; i++){ %> 
        <div id="imgPreview<%=i%>"></div>
        <% } %>
        </div>
        <input type="file" accept="image/*" id="foto0" name="fotos" />
        <label for="choose-file">Foto Principal</label>
        <input type="file" accept="image/*" id="foto1" name="fotos" />
        <label for="fotos">Foto</label>
        <input type="file" accept="image/*" id="foto2" name="fotos" />
        <label for="fotos">Foto</label>
        <input type="file" accept="image/*" id="foto3" name="fotos" />
        <label for="fotos">Foto</label>
        <input type="file" accept="image/*" id="foto4" name="fotos" />
        <label for="fotos">Foto</label>
    </div>
    <input class="buttoncj" type="submit" value="Salvar"/>   
    </form>
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
<script>
    for(let i = 0; i < 5; i++){
        let fotos = "foto" + i
        let previews = "imgPreview" + i
        console.log(i)
        const chooseFile = document.getElementById(fotos);
        console.log(chooseFile)
        const imgPreview = document.getElementById(previews);

        chooseFile.addEventListener("change", function () {
            getImgData();
        });

        function getImgData() {
            const files = chooseFile.files[0];
            console.log(chooseFile.files[0])
            if (files) {
                const fileReader = new FileReader();
                fileReader.readAsDataURL(files);
                fileReader.addEventListener("load", function () {
                    imgPreview.style.display = "block";
                    imgPreview.innerHTML = '<img src="' + this.result + '" />';
                });    
            }
        }
    }
</script>
</html> 
