<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Detalhes do Produto</title>
        <meta name="viewport"content= "width=device-width, inicital-scale=1">
        <link href= "/css/detalhesDoProduto.css" rel="stylesheet">
    </head>
    <body>
        <nav>
            <header>
                <%- include('header.ejs') %>
            </header>
        <main class="mainDetalhesDoProduto">
            <div class="caixaDetalhesDoProduto">
                <div class="tituloDetalhesDoProduto">
                    <%=console.log(anuncio.toJSON())%>
                <img src="/uploads/<%=anuncio.Imagems[0].caminho%>" alt="<%= anuncio.nome %>" width="300px" height="377px"/>
            </div>
            <div class="descricaoDetalhesDoProduto">
                <h2 class="h2DetalhesDoProduto"><%= anuncio.nome %></h2>
                <h6 class="h6DetalhesDoProduto">Anúncio criado em <%= anuncio.createdAt %>  - cód do anúncio: <%= anuncio.id %></h6>
                <p>Nome do anunciante:</p>
                <p>Ano do jogo: <%= anuncio.ano %></p>
                <p>Marca: <%= anuncio.Plataforma.marca %></p>
                <p>Console: <%= anuncio.Plataforma.console %></p>
                <p>Tempo de uso: <%= anuncio.tempo_uso %></p>
                <p>Condição do jogo: <%= anuncio.condicao %></p>
                <p>Gênero:  <% for(let i = 0; i < anuncio.generos.length; i++){ %> 
                    <%= anuncio.generos[i].nome %> <% } %> </p> 
                <br>
                <button class="buttonDetalhesDoProduto">Chat</button>
            </div> 
            </div>
        <div class="descricao">
            <h4>Descrição do Produto</h4>
            <p><%= anuncio.descricao %></p>
        </div>
        </main>
        <footer>
            <%- include('footer.ejs') %>
        </footer>
        </nav>
    </body>
    </html>