<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Exchange Games | Home</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
   </header>
    <main class="mainHome">
        <img class="logo-main" src="/images/logo-fundo-claro.png" alt="logo-main"><br>
        <h1 class="h1Home">Catálogo de Jogos</h1>
            <h3 id="menuPlaystation" class="h3Home">Playstation</h3>
            <div class="homePs4">                                
                <% for(let i = 0; i < jogosPS.length; i++){ %> 
                    <p class="linkJogo"><a class="linkandoJogo" href="/home/produto/<%=jogosPS[i].id%>"><img class="imgHome" src="/uploads/<%=jogosPS[i].Imagems[0].caminho%>" alt="<%= jogosPS[i].nome %>"></a><br><%= jogosPS[i].nome %><br><button class="buttonHome"><a class="linkandoJogo" href="/home/produto/<%=jogosPS[i].id%>">Saiba +</a></button></p>
                    <% } %>
            </div>
            <h3 id="menuXbox" class="h3Home">Xbox</h3>
            <div class="homeXbox">
                <% for(let i = 0; i < jogosXbox.length; i++){ %> 
                    <p class="linkJogo"><a class="linkandoJogo" href="/home/produto/<%=jogosXbox[i].id%>"><img class="imgHome" src="/uploads/<%=jogosXbox[i].Imagems[0].caminho%>" alt="<%= jogosXbox[i].nome %>"></a><br><%= jogosXbox[i].nome %><br><button class="buttonHome"><a class="linkandoJogo" href="/home/produto/<%=jogosXbox[i].id%>">Saiba +</a></button></p>
                    <% } %>
            </div>       
            <h3 id="menuNintendo" class="h3Home">Nintendo</h3>
            <div class="homeSwitch">      
                <% for(let i = 0; i < jogosNintendo.length; i++){ %> 
                <p class="linkJogo"><a class="linkandoJogo" href="/home/produto/<%=jogosNintendo[i].id%>"><img class="imgHome" src="/uploads/<%=jogosNintendo[i].Imagems[0].caminho%>" alt="<%= jogosNintendo[i].nome %>"></a><br><%= jogosNintendo[i].nome %><br><button class="buttonHome"><a class="linkandoJogo" href="/home/produto/<%=jogosNintendo[i].id%>">Saiba +</a></button></p>
                <% } %>
            </div>        
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>
