<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/home.css">
    <title>Exchange Games | Home</title>
</head>
<body>
    <header>
        <%- include('header.ejs') %>
   </header>
    <main class="mainHome">
        <img class="logo-main" src="/images/logo-fundo-claro.png" alt="logo-main"><br>
        <h1 class="h1Home">Catálogo de Jogos</h1>
            <h3 id="menuPlaystation" class="h3Home">Playstation 4</h3>
            <div class="homePs4">                                
                <p><img class="imgHome" src="/images/icones-ps4/assassins-creed-valhalla.png" alt="Assassins Creed Valhalla"><br>Assassins Creed Valhalla<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-ps4/cyber-punk.png" alt="Cyberpunk"><br>Cyberpunk<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-ps4/ghost.png" alt="Ghost"><br>Ghost of Tsushima<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-ps4/red-dead-redemption-2.png" alt="Red Dead Redemption 2"><br>Red Dead Redemption 2<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-ps4/sekiro.png" alt="Sekiro"><br>Sekiro<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-ps4/the-last-of-us-part-2.png" alt="The Last Of Us Part 2"><br>The Last Of Us Part II<br><button class="buttonHome">Saiba +</button></p>

            </div>
            <h3 id="menuXbox" class="h3Home">Xbox One</h3>
            <div class="homeXbox">
                <p> <a href="/home/produto"><img class="imgHome" src="/images/icones-xbox/avengers.png" alt="Avengers"></a> <br>Avengers<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-xbox/forza-7.png" alt="Forza 7"><br>Forza 7<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-xbox/immortals-fenyx-rising.png" alt="Immortals Fenyx Rising"><br>Immortals Fenyx Rising<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-xbox/minecraft.png" alt="Minecraft"><br>Minecraft<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-xbox/modern-warfare.png" alt="Modern Warfare"><br>Modern Warfare<br><button class="buttonHome">Saiba +</button></p>
                <p><img class="imgHome" src="/images/icones-xbox/tomb-raider.png" alt="Tomb Raider"><br>Tomb Raider<br><button class="buttonHome">Saiba +</button></p>
            </div>       
            <h3 id="menuNintendo" class="h3Home">Nintendo Switch</h3>
            <div class="homeSwitch">      
                <% for(let i = 0; i < jogos.length; i++){ %> 
                <p class="linkJogo"><a href="/home/produto/<%=jogos[i].id%>"><img class="imgHome" src="/uploads/<%=jogos[i].Imagems[0].caminho%>" alt="<%= jogos[i].nome %>"></a><br><%= jogos[i].nome %><br><button class="buttonHome">Saiba +</button></p>
                <% } %>
            </div>        
    </main>
    <footer>
        <%- include('footer.ejs') %>
    </footer>
</body>
</html>
